@charset "UTF-8";
@import "../utils/variables.scss";
@import "../utils/functions.scss";

/* auction detail */
.v-application.theme--light {

.musicInfo {
    padding: 80px 0;

    @include max-screen($breakpoint-mobile) {
        padding: 20px 0;
    }

    .content {
        display: flex;

        @include max-screen($breakpoint-tab) {
            display: block;
            padding: 0 15px;
        }
    }

    &_img {
        flex: 1 1;
        max-width: 20%;
        @extend .figure-fix;
        padding-bottom: inherit;

        @include max-screen($breakpoint-tab) {
            float: left;
            width: 140px;
            max-width: 140px;
            height: 140px;
            margin-right: 15px;
            margin-bottom: 15px;
        }

        @include max-screen($breakpoint-mobile) {
            width: 80px;
            max-width: 80px;
            height: 80px;
        }

        &-mobile {
            display: none;

            @include max-screen($breakpoint-mobile) {
                display: block;
                width: 100%;
                height: 130px;
                overflow: hidden;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%
                }
            }
        }
    }

    &_wrap {
        flex: 1 1;
        padding-left: 5%;
        text-align: left;

        @include max-screen($breakpoint-tab) {
            padding-left: 0;
        }
    }

    &_title {
        margin-bottom: 15px;
        font-size: 3rem;
        font-weight: bold;

        @include max-screen($breakpoint-mobile) {
            padding-top: 2px;
            font-size: 2.4rem;
        }

        &::before {
            content: "♪";
            margin-right: 5px;
            color: $color-theme-center;

            @include max-screen($breakpoint-mobile) {
                display: none;
            }
        }
    }

    &_artist {
        margin: 0 0 40px 35px;
        font-size: 1.6rem;
        color: $color-text-lightgray;

        @include max-screen($breakpoint-mobile) {
            margin-bottom: 20px;
        }
    }
    
    &_data {
        width: 100%;
        padding: 15px 0;
        background: $color-bg;
        display: flex;

        @include max-screen($breakpoint-mobile) {
            flex-wrap: wrap;
            padding: 0;
        }

        dl {
            padding: 0 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include max-screen($breakpoint-mobile) {
                padding: 10px;
            }

            + dl {
                border-left: $border-default;

                @include max-screen($breakpoint-mobile) {
                    &:not(:last-child) {
                        border-left: none;
                    }
                }
            }
        }

        dt {
            font-size: 1.5rem;
            font-weight: normal;
            vertical-align: top;

            span {
                display: block;
                font-size: 1.1rem;
                color: $color-text-lightgray;
            }
        }

        dd {
            font-size: 3.4rem;
            font-weight: 400;
            font-family: $font-mix;
            letter-spacing: -0.02em;
            color: $color-theme-center;
            text-align: center;
        }

        .unit {
            font-size: 1.4rem;
        }
    }

    &_remain {
        @include max-screen($breakpoint-mobile) {
            width: 100%;
            border-bottom: $border-default;
        }
        
        dd {
            min-width: 240px;
        }
    }

    &_amount, &_startPrice {
        @include max-screen($breakpoint-mobile) {
            width: 50%;
        }
    }
}

.auctionInfo {
    border-top: $border-default;
    @extend %padding-contents;

    &_title {
        @extend %section-title;
        margin-bottom: 60px;

        @include max-screen($breakpoint-mobile) {
            margin-bottom: 30px;
        }
    }

    &_wrap {
        display: flex;

        @include max-screen($breakpoint-mobile) {
            display: block;
        }
    }

    &_left {
        flex: 1 1 100%;

        @include max-screen($breakpoint-mobile) {
            margin-bottom: 80px;
        }
    }

    .bidList {
        width: 100%;
        @extend %table-default;
        font-size: 1.6rem;

        &_total {
            font-size: 2.4rem;
        }

        tfoot td {
            padding-top: 15px;
        }
    }

    &_right {
        flex: 1 1 100%;
        padding-left: 4%;

        @include max-screen($breakpoint-mobile) {
            padding-left: 0;
        }
    }

    .bidBox {
        margin-bottom: 40px;
        padding: 0 40px 40px;
        border: $border-blue;
        overflow: hidden;

        @include max-screen($breakpoint-tab) {
            margin-bottom: 20px;
            padding:  0 20px 20px;
        }

        &_title {
            margin-bottom: 30px;
            padding-top: 40px;
            font-size: 2.4rem;
            font-weight: normal;
        }

        &_field {
            position: relative;
            margin-bottom: 20px;
            text-align: left;

            label {
                display: block;
                margin-bottom: 10px;
                font-size: 1.4rem;
                color: $color-theme-center;
                font-weight: bold;
            }

            .form-box {
                display: block;
                width: 100%;
                padding-right: 30px;
                padding-bottom: 7px;
                font-size: 3rem;
                font-family: $font-en;
                text-align: right;
            }

            .note {
                margin-top: 5px;
                font-size: 1.2rem;
                font-weight: normal;
                color: $color-text-gray;
            }

            .bidBox_unit {
                position: absolute;
                top: 50%;
                right: 10px;
            }
        }

        &_total {
            margin: 20px 0;
            color: $color-theme-center;

            .price {
                font-size: 3rem;
            }
        }

        .button-action {
            width: 100%;
            height: 60px;
            line-height: 60px;
            font-size: 2.2rem;

            span {
                font-size: 1.3rem;
                vertical-align: middle;
            }
        }

        .v-alert {
            margin-top: 10px;
            font-size: 1.3rem;
        }

        &_userInfo {
            background: $color-bg;
            padding: 10px;
            line-height: 1.6;
        }
    }

    .currentBid {
        margin: 0 -40px;
        background: $color-bg-theme-light;
        border-bottom: $border-blue;

        &_title {
            line-height: 48px;
            white-space: nowrap;
            font-size: 1.6rem;
            font-weight: normal;
        }

        &_body {
            margin: 0 10px 10px;
            padding: 10px 30px;
            background: #fff;
            border-radius: 5px;
        }

        &_detail {
            margin-bottom: 5px;
            font-size: 2.4rem;

            .unit {
                font-size: 1.4rem;
            }
        }

        &_total {
            margin-bottom: 10px;
            font-size: 1.6rem;
            color: $color-theme-center;
        }

        &_status {
            margin-bottom: 10px;
            color: $color-text-gray;
            font-size: 1.4rem;
        }

        .button-sub {
            width: 100%;
            height: 40px;
            line-height: 40px;
            font-size: 1.6rem;
        }

        &_remain {
            font-size: 1.2rem;
        }
    }

    .bidPolicy {
        padding: 0 10px;
        font-size: 1.2rem;
        text-align: left;
        line-height: 1.6;

        dt {
            font-weight: bold;
        }

        dd {
            margin-bottom: 15px;
            color: $color-text-gray;
        }
    }
}

.modal-bid {
    .modal-window {
        width: 600px;
    }

    .button-action {
        height: 50px;
        line-height: 50px;
        padding: 0 40px;
        font-size: 1.8rem;
        font-weight: bold;

        @include max-screen($breakpoint-mobile) {
            padding: 0 10px;
            min-width: 120px;
        }

        .subText {
            font-size: 1.2rem;
            font-weight: normal;
        }
    }

    .button-sub {
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        font-weight: bold;
    }

    &_table {
        width: 80%;
        margin: 0 auto 20px;
        font-size: 1.5rem;

        tr + tr:not(.modal-bid_table_total) {
            border-top: $border-default-dot;
        }

        th, td {
            padding: 15px 20px;
        }

        th {
            width: 50%;
            text-align: left;
        }
        
        td {
            text-align: right;
        }

        .amount {
            font-size: 2.6rem;
        }

        &_total {
            border-top: $border-default;
            border-top-width: 2px;
        }
    }

    .bidGuideline {
        border: $border-default;
        padding: 30px 30px 15px;
        overflow: auto;
        text-align: left;
        line-height: 1.4;
        max-height: 200px;
        border-radius: 2px;
        font-size: 1.3rem;

        &_title {
            margin-bottom: 20px;
            text-align: center;
        }

        & + .v-input--checkbox {
            // margin-bottom: -20px;
            text-align: center;
            
            .v-input__slot {
                justify-content: center;
            }

            .v-label {
                flex: 0 0 auto;
            }
        }
        &_wrap {
            .btn {
                font-size: 1.5rem;
                color: $color-text-sub;
                text-decoration: underline;
                color: $color-theme-right;
                outline: none;

                &:hover {
                    text-decoration: none;
                }

                &::before {
                    content: "\F131";
                    display: inline-block;
                    width: 18px;
                    height: 18px;
                    margin: 0 10px 0 0;
                    vertical-align: bottom;
                    font: $font-mdi;
                    color: rgba(0, 0, 0, 0.54);
                    text-decoration: none;

                    &:hover {
                        text-decoration: none;
                    }
                }

                &.pdfChecked {
                    color: $color-text-visited;

                    &::before {
                        content: "\F132";
                        color: $color-vuetify-primary;
                    }
                }
            }
        }
    }

    &_text {
        margin-bottom: 20px;
        font-size: 1.4rem;
    }

    &_list {
        border: $border-default;
        margin-bottom: 30px;
        padding: 20px;
        color: $color-theme-center;
        font-size: 1.8rem;

        li + li {
            margin-top: 10px;
        }
    }

    &_confirm {
        margin-bottom: 10px;
        font-size: 1.6rem;
    }

    &_announce {
        color: $color-text-lightgray;
        font-size: 1.2rem;
    }
}

.musicDetail {
    padding-top: 80px;

    &_title {
        margin-bottom: 40px;
        font-size: 3rem;
        font-weight: 200;
        font-family: $font-en;
    }

    &Content {
        position: relative;
        width: 640px;
        max-width: 98%;
        margin: auto;
        padding: 60px 0 80px;

        @include max-screen($breakpoint-mobile) {
            padding: 30px 0;
        }

        &::before, &::after {
            @extend %breakline;
        }

        &::after {
            top: 100%;
        }

        iframe {
            width: 100%;
            margin-top: -60px;
            margin-bottom: 30px;

            @include max-screen($breakpoint-mobile) {
                margin-top: -30px;
            }
        }

        &_title {
            margin-bottom: 10px;
            font-size: 2.4rem;
        }

        &_artist {
            margin-bottom: 30px;
            font-size: 1.4rem;
            color: $color-text-lightgray;
        }

        &_text {
            margin-bottom: 20px;
            font-size: 1.4rem;
            text-align: left;
        }

        &_link {
            text-align: left;

            a {
                span {
                    text-decoration: underline;
                }

                .v-icon {
                    margin-right: 5px;
                    font-size: 1.2rem;
                }

                &:hover span {
                    text-decoration: none;
                }
            }
        }
    }

}

.royaltyInfo {
    @extend %padding-contents;

    &_title {
        margin-bottom: 30px;
        font-size: 2.2rem;
        font-weight: normal;
    }

    &_list {
        display: flex;
        flex-wrap: wrap;
        color: $color-text-sub;
        line-height: 1.4;
        
        li {
            width: 50%;
            box-sizing: border-box;
            padding: 5px 10px;
            font-size: 1.4rem;
            text-align: left;

            @include max-screen($breakpoint-mobile) {
                width: 100%;
            }
        }
    }

    &_label {
        margin-right: 5px;
        color: $color-text-gray;

        &::after {
            content: "：";
        }
    }
}

}