@charset "UTF-8";
@import "../utils/variables.scss";
@import "../utils/functions.scss";

/* auction detail */
.v-application.theme--light {

.musicInfo {
    padding: 80px 0;

    .content {
        display: flex;
    }

    &_img {
        flex: 1 1;
        width: 300px;
        max-width: 30%;
    }

    &_wrap {
        flex: 1 1;
        padding-left: 5%;
        text-align: left;
    }

    &_title {
        margin-bottom: 10px;
        font-size: 3rem;
        font-weight: bold;

        &::before {
            content: "♪";
            margin-right: 5px;
            color: $color-theme-center;
        }
    }

    &_artist {
        margin-bottom: 40px;
        font-size: 1.4rem;
        color: $color-text-lightgray;
    }
    
    &_text {
        margin-bottom: 40px;
        font-size: 1.2rem;
        color: $color-text-sub;
    }

    &_data {
        width: 100%;
        border-top: 15px solid $color-bg;
        border-bottom: 15px solid $color-bg;
        background: $color-bg;

        th {
            padding: 0 15px;
            font-size: 1.5rem;
            font-weight: normal;
            vertical-align: top;
            border-right: $border-default;

            span {
                display: block;
                font-size: 1.1rem;
                color: $color-text-lightgray;
            }
        }

        td {
            padding: 5px 15px 0;
            border-right: $border-default;
            font-size: 3.4rem;
            font-weight: 400;
            font-family: $font-mix;
            letter-spacing: -0.02em;
            color: $color-theme-center;
        }

        th:last-child, td:last-child {
            border-right: none;
        }

        .unit {
            font-size: 1.4rem;
        }
    }
}

.auctionInfo {
    border-top: $border-default;
    @extend %padding-contents;

    &_title {
        @extend %section-title;
        margin-bottom: 60px;
    }

    &_wrap {
        display: flex;
    }

    &_left {
        width: 50%;
    }

    .bidList {
        width: 100%;
        @extend %table-default;
        font-size: 1.6rem;

        &_total {
            font-size: 2.4rem;
        }

        tfoot td {
            padding-top: 15px;
        }
    }

    &_right {
        width: 50%;
        padding-left: 4%;
    }

    .bidBox {
        margin-bottom: 40px;
        padding: 0 40px 40px;
        border: $border-blue;
        overflow: hidden;

        &_title {
            margin-bottom: 30px;
            padding-top: 40px;
            font-size: 2.4rem;
            font-weight: normal;
        }

        &_field {
            position: relative;
            margin-bottom: 20px;
            text-align: left;

            label {
                display: block;
                margin-bottom: 10px;
                font-size: 1.4rem;
                color: $color-theme-center;
                font-weight: bold;
            }

            .form-box {
                display: block;
                width: 100%;
                padding-right: 30px;
                padding-bottom: 7px;
                font-size: 3rem;
                font-family: $font-en;
                text-align: right;
            }

            .note {
                margin-top: 5px;
                font-size: 1.2rem;
                font-weight: normal;
                color: $color-text-gray;
            }

            .bidBox_unit {
                position: absolute;
                top: 50%;
                right: 10px;
            }
        }

        &_total {
            margin: 20px 0;
            color: $color-theme-center;

            .price {
                font-size: 3rem;
            }
        }

        .button-action {
            width: 100%;
            height: 60px;
            line-height: 60px;
            font-size: 2.2rem;
        }
    }

    .currentBid {
        margin: 0 -40px;
        background: $color-bg-theme-light;
        border-bottom: $border-blue;

        &_title {
            line-height: 48px;
            white-space: nowrap;
            font-size: 1.6rem;
            font-weight: normal;
        }

        &_body {
            margin: 0 10px 10px;
            padding: 10px 30px;
            background: #fff;
            border-radius: 5px;
        }

        &_detail {
            margin-bottom: 5px;
            font-size: 2.4rem;

            .unit {
                font-size: 1.4rem;
            }
        }

        &_total {
            margin-bottom: 10px;
            font-size: 1.6rem;
            color: $color-theme-center;
        }

        &_status {
            margin-bottom: 10px;
            color: $color-text-gray;
            font-size: 1.4rem;
        }

        .button-sub {
            width: 100%;
            height: 40px;
            line-height: 40px;
            font-size: 1.6rem;
        }

        &_remain {
            font-size: 1.2rem;
        }
    }

    .bidPolicy {
        padding: 0 10px;
        font-size: 1.2rem;
        text-align: left;
        line-height: 1.6;

        dt {
            font-weight: bold;
        }

        dd {
            margin-bottom: 15px;
            color: $color-text-gray;
        }
    }
}

.modal-bid {
    .modal-window {
        width: 600px;
    }

    .button-action {
        height: 50px;
        line-height: 50px;
        padding: 0 40px;
        font-size: 1.8rem;
        font-weight: bold;

        .subText {
            font-size: 1.2rem;
            font-weight: normal;
        }
    }

    .button-sub {
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        font-weight: bold;
    }

    &_table {
        width: 80%;
        margin: 0 auto 20px;
        font-size: 1.5rem;

        tr + tr:not(.modal-bid_table_total) {
            border-top: $border-default-dot;
        }

        th, td {
            padding: 15px 20px;
        }

        th {
            width: 50%;
            text-align: left;
        }
        
        td {
            text-align: right;
        }

        .amount {
            font-size: 2.6rem;
        }

        &_total {
            border-top: $border-default;
            border-top-width: 2px;
        }
    }

    .bidGuideline {
        border: $border-default;
        padding: 30px 30px 15px;
        overflow: auto;
        text-align: left;
        line-height: 1.4;
        max-height: 200px;
        border-radius: 2px;
        font-size: 1.3rem;

        &_title {
            margin-bottom: 20px;
            text-align: center;
        }

        & + .v-input--checkbox {
            margin-bottom: -20px;
            text-align: center;
            
            .v-input__slot {
                justify-content: center;
            }

            .v-label {
                flex: 0 0 auto;
            }
        }
    }

    &_text {
        margin-bottom: 20px;
        font-size: 1.4rem;
    }

    &_list {
        border: $border-default;
        margin-bottom: 30px;
        padding: 20px;
        color: $color-theme-center;
        font-size: 1.8rem;

        li + li {
            margin-top: 10px;
        }
    }

    &_confirm {
        margin-bottom: 10px;
        font-size: 1.6rem;
    }

    &_announce {
        color: $color-text-lightgray;
        font-size: 1.2rem;
    }
}

.trend {
    @extend %section-gray;
    @extend %padding-contents;

    &_wrap {
        display: flex;
        justify-content: space-between;
    }

    &_title {
        margin-bottom: 40px;
        font-size: 2.2rem;
        font-weight: normal;
    }

    &_barChart,
    &_royalty {
        flex: 0 0 48%;
        padding: 40px 10px;
        background: #fff;
        border: $border-default;
        border-radius: $radius-box;
    }

    &_subTitle {
        margin-bottom: 20px;
    }
}

.royaltyInfo {
    @extend %padding-contents;

    &_title {
        margin-bottom: 30px;
        font-size: 2.2rem;
        font-weight: normal;
    }

    &_list {
        display: flex;
        flex-wrap: wrap;
        color: $color-text-sub;
        line-height: 1.4;
        
        li {
            width: 50%;
            box-sizing: border-box;
            padding: 5px 10px;
            font-size: 1.4rem;
            text-align: left;
        }
    }

    &_label {
        margin-right: 5px;
        color: $color-text-gray;

        &::after {
            content: "：";
        }
    }
}

}