@charset "UTF-8";
@import "../utils/variables.scss";
@import "../utils/functions.scss";

/* home */

%index-button-main {
    width: 220px;

    @include max-screen($breakpoint-mobile) {
        width: 180px;
    }
}

.v-application.theme--light {
.heroHeader {
    position: relative;
    height: 100vh;
    margin-top: -80px;
    overflow: hidden;
    background-size: cover;
    background-image: url("~@/assets/img/main-img.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    &_title {
        margin-bottom: 50px;
        font-size: 4.6rem;
        font-weight: bold;
        letter-spacing: 0.2em;
    }

    &_enText {
        margin-bottom: 10px;
        font-family: $font-en;
        letter-spacing: 0.2em;
        font-size: 1.4rem;
    }

    &_text {
        margin-bottom: 55px;
        font-size: 2rem;
    }

    .button-main {
        @extend %index-button-main;
    }

    @include max-screen($breakpoint-mobile) {
        &_title {
            margin-bottom: 100px;
            font-size: 3.5rem;
        }

        &_enText {
            color: #FFF;
        }

        &_text {
            width: 10em;
            line-height: 1.6;
            font-size: 1.5rem;
            color: #FFF;
        }

    }
}

.pickupAuction {
    @extend %padding-contents;

    &_list {
        margin-bottom: 80px;
        display: flex;
        justify-content: center;
    }

    &_item {
        width: 25%;
        padding: 0 1%;
        text-align: left;
        position: relative;
    }

    &_img {
        position: relative;
        margin-bottom: 15px;
        transition: all .3s;

        img {
            width: 100%;
        }

        &:hover {
            opacity: .8;
        }

        figcaption {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 5px 5px 7px;
            background: rgba(#000, 0.8);
            color: #fff;
            font-size: 2.4rem;
            text-align: center;

            span {
                font-size: 1.4rem;
            }
        }
    }

    &_title {
        margin-bottom: 5px;
        font-size: 1.6rem;
        font-weight: bold;
    }

    &_artist {
        margin-bottom: 15px;
        font-size: 1.2rem;
        color: $color-text-lightgray;
    }

    &_price, &_stock {
        font-size: 1.6rem;
        margin-bottom: 5px;

        .unit {
            content: "円〜";
            font-size: 1.2rem;
        }
    }

    &_bidRate {
        position: absolute;
        right: 1vw;
        bottom: 0;
        font-size: 3.6rem;
        color: $color-text-lightblue;

        &::after {
            content: "%";
            font-size: 1.8rem;
        }
    }

    .button-main {
        @extend %index-button-main;
    }
}

.userMarket {
    @extend %breakline-contents;
    @extend %padding-contents;

    &_list {
        display: flex;
        justify-content: center;
        margin-bottom: 80px;
    }

    &_item {
        flex: 0 0 18%;
        max-width: 18%;
        border: $border-default;
        margin: 0 1% 20px;
        padding: 0 15px 20px 15px;
        text-align: left;
        transition: all .3s;

        &:hover {
            border-color: $color-theme-center;
        }

        a {
            display: block;
        }
    }


    &_img {
        display: block;
        margin: 0 -15px 20px;
    }

    &_title {
        margin-bottom: 5px;
        font-size: 1.6rem;
        font-weight: bold;
    }

    &_artist {
        margin-bottom: 15px;
        font-size: 1.2rem;
        color: $color-text-lightgray;
    }

    &_price {
        font-size: 1.2rem;
        color: $color-theme-center;

        .price {
            font-size: 1.8rem;
        }
    }

    .button-main {
        @extend %index-button-main;
    }

}

.news {
    padding: 60px 0;
    background: $color-bg-gray;
    text-align: left;

    .content {
        display: flex;
        align-items: center;
    }

    .contents_title {
        flex: 0 0 190px;
        margin: 0;
        border-right: $border-default;
    }

    &_list {
        flex: 1 1 auto;
        padding-left: 60px;
    }

    &_item {
        position: relative;
        margin-bottom: 10px;
        padding-left: 8em;
        font-size: 1.5rem;
    }

    &_date {
        position: absolute;
        top: -2px;
        left: 0;
        color: $color-text-lightblue;
        font-family: $font-en;
        font-size: 1.8rem;
    }
}

.about {
    @extend %padding-contents;
    position: relative;
    text-align: left;

    .content {
        margin-top: -20px;
        background: url("~@/assets/img/top-about.jpg") no-repeat 0 40px;
        background-size: 50% auto;
    }

    .contents_title {
        margin: 0 0 30px -50%;
        text-align: right;

        &-en {
            font-size: 6rem;
        }
    }

    &_wrap {
        margin-left: calc(50% + 40px);
    }

    &_title {
        margin-bottom: 30px;
        font-size: 2.6rem;
        font-weight: bold;
        line-height: 1.6;
    }

    &_text {
        margin-bottom: 30px;
        line-height: 2;
    }

    .button-main {
        width: 200px;
    }

}

.indexFooter {
    @extend %breakline-contents;
    @extend %padding-contents;

    &_text {
        margin-bottom: 60px;
        font-size: 2.8rem;
    }

    .button-action {
        width: 280px;
        height: 60px;
        line-height: 60px;
        font-size: 1.8rem;
    }
}

}