@charset "UTF-8";
@import "../utils/variables.scss";
@import "../utils/functions.scss";


body {
    @include max-screen($breakpoint-mobile) {
    }
}

/* header */
.v-application.theme--light {
    // padding-top: $header-height;
    // padding-top: calc(#{$header-height} + #{$userNav-height});

    .siteHeader {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: $zIndex-header;
        height: $header-height;
        background: rgba(#fff, 1);

        + main {
            margin-top: $header-height;
        }
        
        &-login + main {
            margin-top: $header-height + $userNav-height;
        }
        
        .content {
            display: flex;
            justify-content: space-between;
        }
        
        &_logo {
            flex: 0 0 162px;
            display: flex;
            align-items: center;
            font-size: 2.5rem;
            font-family: $font-en;
            font-weight: bold;
            text-align: left;

            a {
                display: block;
            }
        }

        &_gnav {
            flex: 1 1 auto;
            transition: all .4s;
            
            li {
                display: inline-block;
                margin: 0 10px;
                text-align: center;
            }

            &_link {
                position: relative;
                display: inline-block;
                width: 100%;
                padding: 0 5px;
                line-height: $header-height;
                text-align: center;
                transition: all .3s;
                font-size: 1.3rem;
                font-weight: bold;
            }

            &_link-current {
                position: relative;
                color: $color-theme-center !important;

                &::after {
                    content: "";
                    position: absolute;
                    top: 20px;
                    left: 50%;
                    width: 20px;
                    height: 3px;
                    margin-left: -10px;
                    background: $color-theme-center;
                }
            }
        }

        .menu-trigger {
            display: none;
        }

        &_userMenu {
            position: relative;
            flex: 0 0 200px;
            display: flex;
            height: 40px;
            margin-top: 20px;
            background: $color-bg-theme;
            border-radius: $radius-btn;
            font-size: 1.3rem;
            
            &::after {
                display: block;
                content: "";
                position: absolute;
                top: 10px;
                left: 50%;
                width: 1px;
                height: 20px;
                background: rgba(255, 255, 255, .3);
                display: flex;
            }
            
            li {
                flex: 0 0 50%;
            }

            a {
                display: inline-block;
                width: 100%;
                height: 40px;
                line-height: 40px;
                color: #fff;
                transition: all .5s;
                
                &:hover {
                    background: rgba(255, 255, 255, .1);
                }
            }
        }

        @include max-screen($breakpoint-mobile) {

            height: $header-height-mobile;
            position: relative;
            
            &_logo {
                padding-left: 10px;
                font-size: 1.6rem;
            }
            
            &_nav {
                display: block;
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 100%;
                width: 0;
                padding: 100px 0;
                background: #FFF;
                box-sizing: border-box;
                visibility: hidden;
                
                a[aria-current]::before {
                    content: none;
                }
            }

            &.menu-open .siteHeader_nav {
                width: 100%;
                left: 0;
                padding: 100px 20%;
                visibility: visible;
                
                li {
                    display: block;
                    border-bottom: $border-default;
                }

                a {
                    display: block;
                    width: 100%;
                    padding: 10px;
                    line-height: 1.6;
                    text-align: center;
                    font-size: 1.8rem;
                    box-sizing: border-box;
                }
            }

            .menu-trigger {
                display: inline-block;
            }
        }

        &_userInfo {
        }

        &_userName {
            margin: 20px 0;
            padding-right: 10px;
            font-size: 1.3rem;
            outline: none;
            transition: all .3s;

            &::after {
                content: 'さん';
                margin-left: 5px;
                font-size: 1.1rem;
            }

            &:hover {
                color: $color-theme-center;
            }

            .v-icon {
                font-size: 1.8rem;
            }
        }

        &_loginMenu {
            width: 200px;
            background: #fff;

            a, button {
                display: block;
                width: 100%;
                box-sizing: border-box;
                padding: 18px 20px;
                font-size: 1.4rem;
                text-align: left;
                transition: all .3s;

                &:hover {
                    background: $color-bg;
                    color: $color-text-sub;
                }
            }

            .break {
                margin-top: 5px;
                border-top: $border-default;
            }
        }

        &_userNav {
            position: absolute;
            top: $header-height;
            background: $color-bg-dark;
            width: 100%;
            height: $userNav-height;

            li {
                display: inline-block;
                position: relative;

                + li:before {
                    position: absolute;
                    left: 0;
                    top: calc(#{$userNav-height} / 2 - 5px);
                    content: '';
                    width: 1px;
                    height: 10px;
                    background: $color-text-gray;
                }
            }

            &_link {
                display: inline-block;
                padding: 0 20px;
                color: #fff;
                line-height: $userNav-height;
                font-size: 1.3rem;
                transition: all .3s;

                &:visited:hover {
                    color: lighten($color-theme-left, 23%);
                }

                &:visited {
                    color: #fff;
                }
            }

            &_link-current {
                background: rgba($color-theme-center, .4);
            }
        }
    }


    .menu-trigger,
    .menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
    }

    .menu-trigger {
        position: absolute;
        top: 0;
        right: 0;
        width: $header-height-mobile;
        height: $header-height-mobile;
        
        span {
        position: absolute;
        left: 13px;
        width: 24px;
        height: 2px;
        background-color: #000;
        border-radius: 1px;
        }

        span:nth-of-type(1) {
        top: 15px;
        }

        span:nth-of-type(2) {
        top: 24px;
        }

        span:nth-of-type(3) {
        bottom: 15px;
        }
    }
    .menu-trigger.active {
        span:nth-of-type(1) {
        -webkit-transform: translateY(9px) rotate(-45deg);
        transform: translateY(9px) rotate(-45deg);
        }
        span:nth-of-type(2) {
        opacity: 0;
        }
        span:nth-of-type(3) {
        -webkit-transform: translateY(-9px) rotate(45deg);
        transform: translateY(-9px) rotate(45deg);
        }
    }

    // main 
    .v-content {
        border-top: $border-default;
    }

    .pageHeader {
        position: relative;
        display: flex;
        justify-content: center;

        &_img {
            width: 100%;
            height: 100%;
            background: url("~@/assets/img/main-img.jpg") no-repeat center 10%;
            background-size: cover;
            backdrop-filter: blur(3px);
            overflow: hidden;

            &::before{
                content: '';
                background: inherit;
                -ms-filter: blur(3px);
                filter: blur(3px);
                position: absolute;
                top: -5px;
                left: -5px;
                right: -5px;
                bottom: -5px;
                z-index: -1;
            }
        }

        &::after {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 100%;
            height: 1px;
            background: transparent;
            box-shadow: 0 -2px 3px rgba(#444, .2);
        }

        .content {
            display: flex;
            height: 240px;
            justify-content: center;
            align-items: center;
        }

        &_title {
            font-size: 3.2rem;
            font-weight: normal;
        }

        &_lead {
            font-size: 2.2rem;
            line-height: 1.8;
            letter-spacing: .1em;
        }
    }

    /* Footer */
    .siteFooter {
        padding: 70px 0 40px;
        background: $color-bg-dark;
        color: #FFF;
        
        a {
            color: #FFF;
            transition: all .2s;
            
            &:hover {
                opacity: .8;
                color: #FFF;
            }
        }
        
        .content {
            position: relative;
        }
        
        &_logo {
            display: block;
            width: 162px;
            margin: 0 auto 40px;
        }

        &_nav {
            font-size: 1.3rem;
            
            &-link {
                display: inline-block;
                padding: 0 20px;
                
                &:not(:first-child) {
                    border-left: 1px solid rgba(255, 255, 255, .4);
                }
            }
        }

        &_copy {
            display: block;
            margin-top: 90px;
            font-size: 1.1rem;
            color: $color-text-sub;
        }

        @include max-screen($breakpoint-mobile) {
            padding: 20px 0 0;
            
            &_logo {
                position: relative;
                margin: auto;
                
                img {
                    width: 160px;
                }
            }

            &_nav {
                display: none;
            }

            &_copy {
                margin: 20px 0 10px;
                text-align: center;
            }
        }
    }
}