@charset "UTF-8";
@import "../utils/variables.scss";
@import "../utils/functions.scss";


body {
    @include max-screen($breakpoint-mobile) {
    }
}

/* header */
.v-application.theme--light {
    // padding-top: $header-height;
    // padding-top: calc(#{$header-height} + #{$userNav-height});

    .siteHeader {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: $zIndex-header;
        height: $header-height;
        background: rgba(#fff, 1);
        transition: all .5s;

        @include max-screen($breakpoint-tab) {
            height: $header-height_mobile;
        }

        + main {
            margin-top: $header-height;

            @include max-screen($breakpoint-tab) {
                margin-top: $header-height_mobile;
            }
        }
        
        &-login + main {
            margin-top: $header-height + $userNav-height;

            @include max-screen($breakpoint-tab) {
                margin-top: $header-height_mobile;
            }
        }

        &.topOfPage:not(.siteHeader-login) {
            background: rgba(#fff, .1);
        }
        
        .content {
            display: flex;
            justify-content: space-between;

            @include max-screen($breakpoint-tab) {
                display: block;
                position: relative;
            }
        }
        
        &_logo {
            flex: 0 0 162px;
            display: flex;
            align-items: center;
            font-size: 2.5rem;
            font-family: $font-en;
            font-weight: bold;
            text-align: left;

            a {
                display: block;
            }

            @include max-screen($breakpoint-tab) {
                flex: none;
                width: 120px;
                height: $header-height_mobile;
                position: absolute;
                top: 0;
                left: calc(50% - 60px);

                img {
                    margin-top: 5px;
                }
            }
        }

        &_gnav {
            flex: 1 1 auto;
            max-width: 500px;
            padding: 0 10px;
            transition: all .4s;

            @include max-screen($breakpoint-tab) {
                position: fixed;
                top: $header-height_mobile;
                bottom: 0;
                left: 0;
                width: 100%;
                max-width: 0;
                height: calc(100vh - #{$header-height_mobile});
                padding: 40px 0;
                -webkit-overflow-scrolling: touch;
                background: #fff;
                overflow-x: hidden;
                overflow-y: auto;
            }

            ul {
                display: flex;
                justify-content: space-around;

                @include max-screen($breakpoint-tab) {
                    display: block;
                    width: 80%;
                    min-width: 200px;
                    margin: auto;
                }
            }
            
            li {
                // display: inline-block;
                // margin: 0 10px;
                text-align: center;

                @include max-screen($breakpoint-tab) {
                    border-bottom: $border-default;
                }
            }

            a, button {
                position: relative;
                display: inline-block;
                width: 100%;
                padding: 0 4px;
                line-height: $header-height;
                text-align: center;
                transition: all .3s;
                font-size: 1.3rem;
                font-weight: bold;

                @include max-screen($breakpoint-tab) {
                    display: block;
                    padding: 15px 5px;
                    line-height: 1.2;
                    font-size: 1.6rem;
                }
            }

            .router-link-active {
                position: relative;
                color: $color-theme-center !important;

                &::after {
                    content: "";
                    position: absolute;
                    top: 20px;
                    left: 50%;
                    width: 20px;
                    height: 3px;
                    margin-left: -10px;
                    background: $color-theme-center;
                }

                @include max-screen($breakpoint-tab) {
                    &::after {
                        content: none;
                    }
                }
            }
        }

        &.menu-open {
            .siteHeader_gnav {
                width: 100%;
                max-width: 100%;
            }
        }

        .menu-trigger {
            display: none;

            @include max-screen($breakpoint-tab) {
                display: block;
            }
        }

        &_userMenu {
            position: relative;
            flex: 0 0 200px;
            display: flex;
            height: 40px;
            margin-top: 20px;
            background: $color-bg-theme;
            border-radius: $radius-btn;
            font-size: 1.3rem;

            &::after {
                display: block;
                content: "";
                position: absolute;
                top: 10px;
                left: 50%;
                width: 1px;
                height: 20px;
                background: rgba(255, 255, 255, .3);
                display: flex;
            }
            
            @include max-screen($breakpoint-tab) {
                flex: none;
                width: 25%;
                position: absolute;
                top: 0;
                right: 0;
                margin: 0;
                height: $header-height_mobile;
                border-radius: 0;

                &::after {
                    content: none;
                }
            }
            
            li {
                flex: 0 0 50%;

                @include max-screen($breakpoint-tab) {
                    flex: 0 0 100%;
                }
            }

            a {
                display: inline-block;
                width: 100%;
                height: 40px;
                line-height: 40px;
                color: #fff;
                transition: all .5s;
                
                &:hover {
                    background: rgba(255, 255, 255, .1);
                }

                @include max-screen($breakpoint-tab) {
                    height: $header-height_mobile;
                    line-height: $header-height_mobile;
                }
            }
        }

        &_userInfo {
        }

        &_userName {
            position: relative;
            margin: 20px 0;
            padding-right: 10px;
            font-size: 1.3rem;
            outline: none;
            transition: all .3s;

            &::after {
                content: 'さん';
                margin-left: 5px;
                font-size: 1.1rem;
            }

            &:hover {
                color: $color-theme-center;
            }

            .v-icon {
                font-size: 1.8rem;
            }

            .mark-alert {
                position: absolute;
                top: calc(50% - 3px);
                right: 0;
            }
        }

        &_loginMenu {
            width: 200px;
            background: #fff;

            a, button {
                display: block;
                width: 100%;
                box-sizing: border-box;
                padding: 18px 20px;
                font-size: 1.4rem;
                text-align: left;
                transition: all .3s;

                &:hover {
                    background: $color-bg;
                    color: $color-text-sub;
                }
            }

            .break {
                margin-top: 5px;
                border-top: $border-default;
            }
        }

        &_userNav {
            position: absolute;
            top: $header-height;
            background: $color-bg-dark;
            width: 100%;
            height: $userNav-height;

            @include max-screen($breakpoint-tab) {
                display: none;
            }

            li {
                display: inline-block;
                position: relative;

                + li:before {
                    position: absolute;
                    left: 0;
                    top: calc(#{$userNav-height} / 2 - 5px);
                    content: '';
                    width: 1px;
                    height: 10px;
                    background: $color-text-gray;
                }
            }

            a {
                display: inline-block;
                padding: 0 20px;
                color: #fff;
                line-height: $userNav-height;
                font-size: 1.3rem;
                transition: all .3s;

                &:hover,
                &:visited:hover {
                    color: lighten($color-theme-left, 23%);
                }

                &:visited {
                    color: #fff;
                }
            }

            .router-link-active {
                background: rgba($color-theme-center, .4);

                &:hover {
                    color: #fff;
                }
            }
        }

        .siteHeader_userNav-tablet {
            display: none;
            margin-top: 60px;

            @include max-screen($breakpoint-tab) {
                display: block;
            }
        }

    }


    .menu-trigger,
    .menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
    }

    .menu-trigger {
        position: absolute;
        top: 0;
        left: 10px;
        width: $header-height-mobile;
        height: $header-height-mobile;
        
        span {
            position: absolute;
            left: 17px;
            width: 25px;
            height: 4px;
            background-color: $color-theme-center;
            border-radius: 1px;
        }

        &:hover span {
            background-color: $color-theme-right;
        }

        span:nth-of-type(1) {
            top: 19px;
        }

        span:nth-of-type(2) {
            top: 28px;
        }

        span:nth-of-type(3) {
            top: 37px;
        }
    }

    .menu-open .menu-trigger {
        span:nth-of-type(1) {
        -webkit-transform: translateY(9px) rotate(-45deg);
        transform: translateY(9px) rotate(-45deg);
        }
        span:nth-of-type(2) {
        opacity: 0;
        }
        span:nth-of-type(3) {
        -webkit-transform: translateY(-9px) rotate(45deg);
        transform: translateY(-9px) rotate(45deg);
        }
    }

    // main 
    .v-content {
        border-top: $border-default;
    }

    .pageHeader {
        position: relative;
        display: flex;
        justify-content: center;

        &_img {
            width: 100%;
            height: 100%;
            background: url("~@/assets/img/main-img.jpg") no-repeat center 10%;
            background-size: cover;
            backdrop-filter: blur(3px);
            overflow: hidden;

            &::before{
                content: '';
                background: inherit;
                -ms-filter: blur(3px);
                filter: blur(3px);
                position: absolute;
                top: -5px;
                left: -5px;
                right: -5px;
                bottom: -5px;
                z-index: -1;
            }
        }

        &::after {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 100%;
            height: 1px;
            background: transparent;
            box-shadow: 0 -2px 3px rgba(#444, .2);
        }

        .content {
            display: flex;
            height: 240px;
            justify-content: center;
            align-items: center;
        }

        &_title {
            font-size: 3.2rem;
            font-weight: normal;
        }

        &_lead {
            font-size: 2.2rem;
            line-height: 1.8;
            letter-spacing: .1em;

            @include max-screen($breakpoint-mobile) {
                font-size: 1.8rem;
                letter-spacing: 0;
                text-shadow: 0 0 3px #fff;
            }
        }
    }

    /* Footer */
    .siteFooter {
        padding: 70px 0 40px;
        background: $color-bg-dark;
        color: #FFF;

        @include max-screen($breakpoint-mobile) {
            padding: 20px 0 0;
        }

        a {
            color: #FFF;
            transition: all .2s;
            
            &:hover {
                opacity: .8;
                color: #FFF;
            }
        }
        
        .content {
            position: relative;
        }
        
        &_logo {
            display: block;
            width: 162px;
            margin: 0 auto 40px;

            @include max-screen($breakpoint-tab) {
                max-width: 25%;
                margin-bottom: 20px;
            }
        }

        &_nav {
            font-size: 1.3rem;
            
            &-link {
                display: inline-block;
                padding: 0 20px;
                
                &:not(:first-child) {
                    border-left: 1px solid rgba(255, 255, 255, .4);
                }

                @include max-screen($breakpoint-tab) {
                    margin-bottom: 20px;
                }
            }
        }

        &_copy {
            display: block;
            margin-top: 90px;
            font-size: 1.1rem;
            color: $color-text-sub;

            @include max-screen($breakpoint-mobile) {
                margin: 20px 0 10px;
                text-align: center;
            }
        }
    }
}