@charset "UTF-8";
@import "../utils/variables.scss";
@import "../utils/functions.scss";

/* login */

.v-application.theme--light {

    .login {
        height: 100%;
        background: url("~@/assets/img/main-img.jpg") no-repeat center top;
        background-size: cover;
        backdrop-filter: blur(5px);
        overflow: hidden;
        margin: 0;

        &::before{
            content: '';
            background: inherit;
            -ms-filter: blur(5px);
            filter: blur(5px);
            position: absolute;
            top: -5px;
            left: -5px;
            right: -5px;
            bottom: -5px;
            z-index: -1;
          }
    }

    .loginBox {
        width: 460px;
        max-width: 80%;
        margin: 80px 0;
        padding: 60px 5%;
        background: #fff;

        @include max-screen($breakpoint-mobile) {
            margin: 20px 0;
            padding: 20px 10% 40px;

        }

        .contents_title {
            margin-bottom: 40px;

            @include max-screen($breakpoint-mobile) {
                margin-bottom: 20px;
            }
        }

        .v-form {
            min-height: 60px;

            @include max-screen($breakpoint-mobile) {
                min-height: 60px;
            }
        }

        .button-action {
            width: 240px;
            max-width: 80%;
            height: 50px;
            line-height: 50px;
        }

        &_lead {
            font-size: 1.4rem;
            line-height: 1.8;
        }

        &_link {
            margin-top: 40px;
            font-size: 1.2rem;

            @include max-screen($breakpoint-mobile) {
                margin-top: 20px;
            }

            li {
                display: inline-block;
                padding: 0 10px;

                & + li {
                    border-left: $border-default;
                }

                a {
                    text-decoration: underline;
                    display: block;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }

        &_complete {
            margin-bottom: 60px;
            
            .v-icon {
                margin-bottom: 10px;
                font-size: 4rem;
                color: $color-sub;
            }
        }

        &_footer {
            margin-top: 40px;

            @include max-screen($breakpoint-mobile) {
                margin-top: 10px;
            }
        }
    }

    .error_msg {
        margin: 10px 0;
        color: $color-error;
    }
}