@charset "UTF-8";

.v-application.theme--light {
/* extend */

/* common class */
.content {
    max-width: 100%;
    margin: 0 auto;
    padding-right: 1%;
    padding-left: 1%;
    font-size: 1.4rem;
    
    @include min-screen($breakpoint-mobile) {
        width: $breakpoint-pc;
    }
}

%section-gray {
    background: $color-bg;
    border-top: $border-light;
    border-bottom: $border-light;
}

// padding
%padding-contents {
    padding-top: 80px;
    padding-bottom: 100px;
}

// breakline
%breakline-contents {
    position: relative;

    &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 50%;
        width: 60%;
        height: 1px;
        margin-left: -30%;
        background: linear-gradient(to right, rgba(#ddd, 0%), #ddd 50%, rgba(#ddd, 0));
    }
}

%breakline {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    width: 60%;
    height: 1px;
    margin-left: -30%;
    background: linear-gradient(to right, rgba(#ddd, 0%), #ddd 50%, rgba(#ddd, 0));
}

// page title
.page_title {
    margin-bottom: 20px;
    font-size: 2.8rem;
    font-weight: normal;
}

.contents_title {
    margin-bottom: 60px;

    &-en {
        display: inline-block;
        padding-bottom: 15px;
        font-size: 5rem;
        font-family: $font-en;
        font-weight: 300;
        @extend %text-themeColor;
    }

    &-jp {
        display: block;
        font-size: 1.4rem;
    }
}

// section title
%section-title {
    font-size: 2.8rem;
    font-weight: normal;
}

// text 
.section_lead {
    font-size: 1.5rem;
    color: $color-text-darkgray;
}

.tr {
    text-align: right;
}

.tc {
    text-align: center;
}

.tl {
    text-align: left;
}

%text-themeColor {
    color: $color-theme-center;
    background: $color-bg-theme;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text_ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// image box
.figure-center {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-bg-thin;

    &::after {
        content: "";
        width: 0;
        padding-bottom: 100%;
    }
}

.figure-fix {
    position: relative;
    // width: 100%;
    padding-bottom: 100%;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// form 
.form-box {
    border: $border-input;
    border-radius: $radius-form;
    padding: 5px 10px;
    transition: all 0.3s;
    color: $color-text-sub;

    &:hover {
        border-color: $border-input-hover;
    }

    &:focus {
        border-color: $border-input-focus;
    }
}
.v-text-field--outlined fieldset {
    border: $border-input;
    border-radius: $radius-form;
    padding: 5px 10px;
    transition: all 0.3s;
    color: $color-text-sub;

    &:hover {
        border: $border-input-hover;
    }

    &:focus {
        border: $border-input-focus;
    }

    // $border-input-hover: 1px solid #888;
    // $border-input-focus: 1px solid $color-theme-center;

}

.v-list-item__title {
    font-size: 1.4rem;
    text-align: left;
}

.v-input--selection-controls .v-input--selection-controls__input:hover .v-input--selection-controls__ripple:before {
    transition: all .2s;
}

.v-input--selection-controls__ripple:before {
    opacity: .1;
}

.v-radio{
    .v-label {
        color: $color-text-sub;
        font-size: 1.5rem;
    }

    &.v-item--active .v-label {
        font-weight: bold;
    }
}

// button
.button-main {
    position: relative;
    display: inline-block;
    height: 46px;
    line-height: 46px;
    font-size: 1.4rem;
    background: $color-bg-dark;
    transition: all .5s;
    color: #FFF;
    border-radius: $radius-btn;
    text-align: center;
    font-weight: bold;
    
    &:hover {
        background: $color-theme-center;
        color: #FFF;
    }

    &:visited {
        background: initial;
        color: #FFF !important;
    }
}

.button-action {
    display: inline-block;
    border-radius: $radius-btn;
    background: $color-bg-theme;
    background-size: 100%;
    color: #fff;
    transition: all .5s;
    text-align: center;
    box-shadow: none;
    
    &:hover {
        background: $color-bg-theme-hover;
        color: #fff;
        background-size: 300%;
    }

    &:visited {
        background: initial;
        color: #FFF !important;
    }

}

.button-sub {
    background: $color-sub;
    border-radius: $radius-btn;
    color: #fff;
    display: inline-block;
    transition: all .3s;
    
    &:hover {
        background: lighten($color-sub, 5%);
    }
}

&#app [disabled] {
        background: $color-bg-disabled;
        color: $color-text-disabled;
}

// table
%table-default {
    thead {
        background: $color-bg-gray;

        th {
            padding: 8px;
            font-size: 1.3rem;
            text-align: center;

            .v-icon {
                margin-left: 5px;
                font-size: 1.4rem !important;
            }
        }
    }

    tbody {
        tr {
            border-bottom: $border-light;
        }

        td {
            padding: 10px;
            font-size: 1.4rem;
        }
    }

    tfoot {
        border-top: $border-light;
        color: $color-theme-center;
    }
    
}

// tab menu
.tabMenu {
    position: absolute;
    display: flex;
    bottom: 0;
    width: 600px;
    max-width: 80%;
    height: 50px;
    margin: auto;
    background: #fff;
    box-shadow: 0 0 3px rgba(#000, .1);
    border-bottom: none;
    border-radius: $radius-tab $radius-tab 0 0;
    line-height: 50px;

    .v-tabs-bar {
        height: 60px;
    }

    .v-tabs-bar__content {
        a:first-child {
            border-top-left-radius: $radius-tab;
        }

        a:last-child {
            border-top-right-radius: $radius-tab;
        }
    }

    .v-item-group {
        width: 100%;
    }

    &_tabItem {
        height: 50px;
        width: 100%;
        font-size: 1.5rem;
        padding: 0 10px;
        letter-spacing: 0;

        &:not(.v-tab--active) {
            color: $color-theme-center !important;
        }

        &+ .tabMenu_tabItem::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 1px;
            height: 30px;
            margin-top: -15px;
            background: $color-bg-gray;
        }
    }

    .v-tab--active {
        position: relative;
        background: $color-bg-theme;
        color: #fff;
        font-weight: bold;

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 100%;
            left: 50%;
            width: 0;
            height: 0;
            background: transparent;
            margin-left: -7px;
            margin-top: 0;
            border-right: 7px solid transparent;
            border-left: 7px solid transparent;
            border-top: 7px solid $color-theme-center;
        }
    }
}

//component
.trend {
    position: relative;
    @extend %section-gray;
    @extend %padding-contents;

    &_wrap {
        display: flex;
        justify-content: space-between;
    }

    &_title {
        margin-bottom: 40px;
        font-size: 2.8rem;
        font-weight: normal;
    }

    &_lead {
        margin: -10px 0 60px;
        @extend .section_lead;
    }

    &_barChart,
    &_royalty {
        flex: 0 0 48%;
        padding: 40px 10px;
        background: #fff;
        border: $border-default;
        border-radius: $radius-box;
    }

    &_subTitle {
        margin-bottom: 20px;
    }

    &_totalList {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 40px 30px;
        font-size: 1.5rem;

        dt {
            flex: 1 1 50%;
            text-align: left;
        }

        dt, dd {
            padding: 15px 0;
        }

        dd {
            font-size: 1.6rem;
            font-weight: bold;
        }
    }
}



.theme--light.v-data-table tbody tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
    background: $color-bg-thin;
}

.v-data-footer,
.v-data-footer__select .v-select__selections .v-select__selection--comma {
    font-size: 1.3rem;
}

// breakpoint show/hide
.show-tab {
    display: none;
    
    @include max-screen($breakpoint-tab) {
        display: block;
    }
}
.hide-tab {
    display: block;
    
    @include max-screen($breakpoint-tab) {
        display: none;
    }
}

.show-mobile {
    display: none;
    
    @include max-screen($breakpoint-mobile) {
        display: block;
    }
}


// parallax
.parallax-window {
    min-height: 300px;
    background: transparent;
    
    @include max-screen($breakpoint-mobile) {
        min-height: 100px;
    }

}

.parallax-slider {
     top: 0;
     left: 0;
}

// scroll fadein
.js-fadein {
    opacity: 0;
    transition: all .8s ease-out;
}

.js-fadein.up {
    transform: translateY(20px);
}

.js-fadein.down {
    opacity: 0;
    transform: translateY(-20px);
}

.js-fadein.right {
    opacity: 0;
    transform: translateX(20px);
}

.js-fadein.left {
    opacity: 0;
    transform: translateX(-20px);
}

.js-fadein.up.active,
.js-fadein.down.active {
    opacity: 1;
    transform: translateY(0);
}

.js-fadein.left.active,
.js-fadein.right.active {
    opacity: 1;
    transform: translateX(0);
}

.delay_200 {
    transition-delay: .2s;
}
.delay_400 {
    transition-delay: .4s;
}
.delay_600 {
    transition-delay: .6s;
}
.delay_800 {
    transition-delay: .8s;
}
}

// overight Vuetify
.v-pagination.theme--light {
    .v-pagination__item, .v-pagination__navigation {
        box-shadow: none;
        font-family: $font-en;
        font-size: 2rem;
        color: $color-text-gray;
        border-radius: $radius-circle;

        &:not(.v-pagination__item--active):hover {
            color: $color-text-sub;
            background: $color-bg;
        }

        &:focus {
            outline: none;
        }
    }

    li .v-pagination__item--active {
        background-color: $color-bg-theme-light !important;
        color: $color-theme-center;
        font-weight: bold;
        cursor: default;
    }
}

body {
    .v-menu__content {
        // overflow: hidden;
        border-radius: $radius-box;
        box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.1), 0px 8px 10px 1px rgba(0, 0, 0, 0.05), 0px 3px 14px 2px rgba(0, 0, 0, 0.05);
    }
}


// .v-menu__content
.v-menu__content .v-list {
    .v-list-item__content {
        padding: 0;
        height: 40px;
        line-height: 40px;
    }
    .v-list-item__title {
        line-height: 1em;
    }
}
.v-text-field__suffix {
    color: $color-text-gray;
}

// Stepper
#app .v-stepper {
    &__header {
        box-shadow: none;
        justify-content: center;
    }

    &__step {
        padding: 24px 20px;
    }

    .v-divider {
        flex: 0 0 2%;
        min-width: 10px;
        max-width: 80px;
    }

    .mark-alert {
        position: absolute;
        right: 10px;
        top: 34px;
    }
    
    .v-stepper__step__step {
        font-size: 1.4rem;
    }

    .v-stepper__step--editable {
        .v-stepper__label {
            color: $color-text-sub;
        }
    }
    
    .v-stepper__label {
        font-size: 1.4rem;
    }

    // 自由移動（ナビ遷移のユーザー情報ページ）
    &.v-stepper--non-linear {

        .v-stepper__step--editable {
            .v-stepper__label {
                color: $color-text-sub;
            }

            .v-stepper__step__step{
                background: $color-vuetify-primary;
                color: #fff;

                &::before {
                    content: "\F3EB";
                }
            }

        }

        .v-stepper__step--complete {
            .v-stepper__step__step{
                &::before {
                    content: "\F12C";
                    opacity: 1;
                }
            }
        }

        .v-stepper__step--active {
            .v-stepper__label {
                font-size: 1.5rem;
                font-weight: 500;
                color: $color-text-default;
            }

            .v-stepper__step__step{
                &::before {
                    opacity: 1;
                }
            }
        }
        
        .v-stepper__step__step {
            font-size: 0;
            color: transparent;

            &::before {
                content: "\F3EB";
                opacity: 0.8;
                font: $font-mdi;
                font-size: 1.7rem;
                color: #fff;
            }

            .v-icon {
                display: none;
            }
        }

    }
}

//mark
.mark-alert {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: $color-error;
}