@charset "UTF-8";
@import "../utils/variables.scss";
@import "../utils/functions.scss";

/* mypage */
#page_mypage {
    .pageHeader {
        &_img {
            background: url("~@/assets/img/bg-mypage-title.jpg") no-repeat center center;
            background-size: cover;
            backdrop-filter: none;
        }
        .content {
            height: 180px;
        }
    }

    .balance {
        background:  $color-bg-theme-light;
        padding: 80px 0;

        @include max-screen($breakpoint-mobile) {
            padding: 40px 10px;
        }

        &_title {
            margin-bottom: 20px;
            @extend %section-title;
        }

        &_box {
            margin: 0 4%;
            padding: 30px;
            background: #fff;
            border-radius: $radius-box;
        }

        &_price {
            margin: 10px 0 40px;
            font-size: 5rem;
            font-family: $font-en;
            color: $color-theme-center;

            @include max-screen($breakpoint-mobile) {
                margin: 0 0 20px;
                font-size: 4rem;
            }

            &::after {
                content: '円';
                margin-left: 5px;
                font-size: 2rem;
                font-weight: bold;
            }
        }

        &_link {
            display: flex;
            justify-content: center;

            @include max-screen($breakpoint-mobile) {
                li {
                    flex: 0 0 50%;
                }
            }

            .button-action {
                margin: 0 5px;
                width: 220px;
                height: 46px;
                line-height: 46px;
                font-size: 1.6rem;

                @include max-screen($breakpoint-mobile) {
                    width: 98%;
                    margin: 0 1%;
                }
            }
        }
    }

    .transaction {
        @extend %padding-contents;

        &_title {
            margin-bottom: 60px;
            @extend %section-title;

            @include max-screen($breakpoint-mobile) {
                margin-bottom: 30px;
            }
        }

        &_search {
            margin-bottom: 40px;

            .button-main {
                width: 180px;
                height: 40px;
                margin-top: 10px;
                line-height: 40px;
                font-size: 1.4rem;
            }
        }

        &_search_list {
            display: flex;
            flex-wrap: wrap;
            line-height: 4rem;

            @include max-screen($breakpoint-mobile) {
                display: block;
                padding: 0 15px;
                text-align: left;
            }

            dt {
                flex: 0 0 6em;
                color: $color-text-gray;
                font-size: 1.4rem;

                &::after {
                    content: '：';
                }
            }

            dd {
                flex: 0 0 calc(100% - 6em);
                display: flex;

                @include max-screen($breakpoint-mobile) {
                    flex-wrap: wrap;
                    margin-bottom: 20px;

                    .v-text-field__details, .v-messages {
                        min-height: 0;
                    }
                }
            }

            .v-input.v-text-field {
                width: 180px;
                max-width: 180px;
                margin: 0 5px;
            }

            .v-text-field--outlined .v-input__slot {
                min-height: 40px;
                margin-bottom: 0;
            }

            .v-text-field--outlined fieldset {
                height: 44px;
                padding-top: 1px;
            }

            .v-text-field--outlined .v-text-field__slot {
                height: 36px;
                font-size: 1.4rem;
            }

            .v-btn-toggle {
                margin-left: 20px;

                @include max-screen($breakpoint-mobile) {
                    margin-left: 0;
                }

                .v-btn--active {
                    color: $color-theme-center;
                }
            }

            .v-btn-toggle:not(.v-btn-toggle--dense) .v-btn.v-btn.v-size--default {
                height: 40px;
                font-size: 13px;
                padding: 0 10px;

                &.v-btn:first-child {
                    padding-left: 20px;
                }
                &.v-btn:last-child {
                    padding-right: 20px;
                }
            }

            .v-input--selection-controls {
                margin-top: 5px;
            }

            .v-select {
                .v-input__append-inner {
                    margin-top: 8px;
                }

                .v-select__selections {
                    padding: 0;
                    font-size: 1.4rem;
                }
            }

        }

        &_list {
            width: 100%;
            @extend %table-default;

            thead th, tbody td {
                padding: 10px 5px !important;
                line-height: 1;
            }
        }
    }
}


/* my copyrights */
#page_myCopyrights {
    .pageHeader {
        &_img {
            background: url("~@/assets/img/bg-mypage-title.jpg") no-repeat center center;
            background-size: cover;
            backdrop-filter: none;
        }
        .content {
            height: 180px;
        }
    }
    
    .trend {
        display: flex;
        justify-content: center;
        padding-bottom: 150px;

        &::after {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 100%;
            height: 1px;
            background: transparent;
            box-shadow: 0 -2px 3px rgba(#444, .2);
        }
    }

    .myCopyright {
        @extend %padding-contents;

        &_title {
            margin-bottom: 30px;
            @extend %section-title;
        }

        &_lead {
            margin-bottom: 60px;
            @extend .section_lead;
        }

        &_wrap {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &_item {
            position: relative;
            flex: 0 0 49%;
            margin-bottom: 30px;
            border: $border-default;
            display: flex;
            transition: all .5s;

            &:hover {
                border-color: $color-theme-center;
            }

            &_img {
                // margin: -1px;
                flex: 0 0 110px;
                height: 110px;
                overflow: hidden;
                background: $color-bg;
                object-fit: cover;
            }

            &_content {
                flex: 1 0 auto;
                position: relative;
                padding: 15px 10px 10px 25px;
                text-align: left;
            }

            &_title {
                margin-bottom: 8px;
                font-size: 1.8rem;
                font-weight: bold;
                line-height: 1.2;
            }

            &_artist {
                margin-bottom: 20px;
                color: $color-text-gray;
            }

            &_date {
                margin-bottom: 0;
                font-size: 1.5rem;
            }

            .button-action {
                position: absolute;
                right: 10px;
                bottom: 10px;
                width: 50px;
                line-height: 30px;
            }
        }
    }
}