@charset "UTF-8";
@import "../utils/variables.scss";
@import "../utils/functions.scss";

/* mypage */
#page_news {
    .pageHeader {
        &_title {
            letter-spacing: 0.2em;
        }

        &_img {
            background: url("~@/assets/img/bg-news.jpg") no-repeat center center;
            background-size: cover;
            backdrop-filter: none;
        }

        .content {
            height: 180px;
        }
    }

    .news {
        @extend %padding-contents;

        &_title {
            margin-bottom: 60px;
            font-size: 2.4rem;
            font-weight: normal;
        }

        &_list {
            max-width: 800px;
            margin: 0 auto;
            padding-top: 40px;
            border-top: $border-default;
        }
    }

    .newsItem {
        margin-bottom: 40px;
        padding: 20px 10px 40px;
        text-align: left;
        border-bottom: $border-default;

        &_date {
            margin-bottom: 10px;
            font-family: $font-en;
            color: $color-text-disabled;
            font-size: 1.6rem;
        }

        &_title {
            margin-bottom: 20px;
            font-size: 2rem;
            color: $color-text-default;
            line-height: 1.6;
        }

        &_content {
            font-size: 1.4rem;
            line-height: 1.8;
            color: $color-text-sub;

            h1, h2, h3, h4 {
                color: $color-text-default;
            }

            h1 {
                margin: 25px 0 15px;
                font-size: 1.8rem;
            }

            h2 {
                margin: 20px 0 10px;
                font-size: 1.6rem;
            }

            h3 {
                margin: 10px 0 5px;
                font-size: 1.4rem;
            }

            h4 {
                margin: 10px 0 5px;
                font-size: 1.4rem;
                color: $color-text-darkgray;
            }

            p {
                white-space : pre;
            }

            ul {
                list-style: disc;
                margin-left: 20px;
            }
            ol {
                list-style: decimal;
                margin-left: 20px;
            }

            code {
                display: block;
                margin: 5px 0;
                padding: 15px;
                background: $color-bg;
                color: $color-text-sub;
                font-weight: normal;
                font-size: 1.3rem;
            }

            a {
                text-decoration: underline;

                &:hover {
                    text-decoration: none;
                }
            }

            blockquote {
                border-left: 3px solid $color-border;
                padding: 3px 0 3px 10px;
                white-space: pre;
            }
        }
    }
}

