@charset "UTF-8";
@import "../utils/variables.scss";
@import "../utils/functions.scss";

/* user info */
#page_userInfo {
    .pageHeader {
        &_img {
            background: url("~@/assets/img/bg-mypage-title.jpg") no-repeat center center;
            background-size: cover;
            backdrop-filter: none;
        }
        .content {
            height: 180px;
        }
    }
}

.userInfo_nav {
    border-bottom: $border-default;
}

.userInfo {
    .v-stepper__content {
        padding: 0;
    }

    .userInfoStep-personal,
    .userInfoStep-bank,
    .userInfoStep-question,
    .userInfoStep-upload {
        padding: 60px 0 100px;
    }

    .userInfoStep-account {
        padding: 0 0 100px;
    }

    .userInfoStep-confirm {
        padding: 60px 0 0;
    }

    &_message {
        display: flex;
        margin: 0 auto 30px;
        width: 780px;
        max-width: 100%;
        
        .v-alert {
            width: auto;
            margin: 0 auto;
            padding: 16px 40px;
            font-size: 1.6rem;
            text-align: left;

            @include max-screen($breakpoint-mobile) {
                padding: 15px;
                
                .v-alert__icon {
                    margin-right: 5px;
                }
            }

            &::before {
                opacity: 0.05;
            }

            .v-icon {
                font-size: 2.8rem;
            }
        }

        + .userInfo_notice {
            margin-top: -20px;
        }
    }

    &_notice {
        width: 780px;
        max-width: 100%;
        border: $border-default;
        margin: 0 auto 40px;
        padding: 20px;
        line-height: 1.6;

        @include max-screen($breakpoint-mobile) {
            text-align: left;
        }

        &_text {
            margin-bottom: 20px;
            font-size: 1.4rem;
            font-weight: 500;
        }

        .userInfo_notice_subtext {
            margin-bottom: 0;
            font-size: 1.2rem;
            color: $color-text-darkgray;
            text-align: left;
            line-height: 1.5;
        }

        &_img {
            float: left;
            margin: -8px 10px 0 0;
            width: 195px;
            height: auto;

            @include max-screen($breakpoint-mobile) {
                margin: 0 auto 10px;
                float: none;
                display: block;
            }
        }
    }

    &_subTitle {
        margin-bottom: 40px;
        font-size: 2.4rem;
        font-weight: normal;
    }

    &_titleLabel {
        display: block;
        margin-bottom: 10px;
        color: $color-theme-center;
        font-size: 2rem;
        font-family: $font-en;
    }

    &_text {
        margin-bottom: 40px;
        font-size: 1.5rem;
        color: $color-text-gray;
        line-height: 1.5;

        @include max-screen($breakpoint-mobile) {
            padding: 0 10px;
        }
    }
}

#app .entryForm {
    margin: 30px auto;
    width: 800px;
    max-width: 100%;

    .subFormBox {
        background: #fff;
        margin-top: -1px;
        padding: 0 0 0 25%;
        text-align: left;
        border-bottom: $border-light;
        font-size: 1.3rem;
        color: $color-error;

        @include max-screen($breakpoint-mobile) {
            margin-top: -10px;
            padding: 0 20px;
        }

        .v-input {
            margin: 5px 0;
            width: 160px;
        }
    }

    &_footer {
        margin-top: 50px;

        .button-cancel {
            min-width: 240px;
            font-size: 1.4rem;
            box-shadow: none;
            background: transparent;
            color: $color-text-sub;
            height: 48px;

            @include max-screen($breakpoint-mobile) {
                min-width: 100px;
            }
            
            &:hover {
                background: transparent;
            }

            .v-icon {
                margin: -2px 10px 0 0;
                font-size: 1.8rem;
            }
        }

        .button-cancel + .button-action {
            margin-left: 20px;
        }

        .button-action {
            width: 240px;
            line-height: 48px;
            height: 48px;
            font-size: 1.6rem;

            @include max-screen($breakpoint-mobile) {
                width: 180px;
            }
        }
    }

    &.entryForm-confirm {
        .formItem_required {
            display: none;
        }
    }
}


.formItem {
    display: flex;
    align-items: flex-start;
    padding: 10px 0;
    min-height: 85px;
    font-size: 1.5rem;
    border-bottom: $border-light;

    @include max-screen($breakpoint-mobile) {
        margin-right: -1vw;
        margin-left: -1vw;
        padding: 20px 20px 15px;
        display: block;
    }

    &:first-child {
        border-top: $border-light;
    }

    &_title {
        flex: 0 0 25%;
        padding-top: 25px;
        color: $color-text-darkgray;

        @include max-screen($breakpoint-mobile) {
            padding-top: 0;
            text-align: left;
            font-size: 1.2rem;
        }
    }

    &_required {
        float: right;
        margin-right: 10px;
        color: $color-error;
        font-size: 1rem;

        @include max-screen($breakpoint-mobile) {
            float: none;
        }
    }

    &_body {
        flex: 1 0 75%;
        margin: 12px 0 -14px;
        color: $color-text-sub;

        @include max-screen($breakpoint-mobile) {
            margin-top: 15px;
        }
    }

    &_itemWrap {
        display: flex;

        + .formItem_itemWrap {
            margin-top: -5px;
        }
    }

    &_subLabel {
        display: inline-block;
        min-width: 2em;
        margin-right: 8px;
        line-height: 40px;
        height: 40px;
        color: $color-text-darkgray;
    }

    span + &_subLabel {
        margin-left: 20px;
    }

    .v-input--radio-group--row .v-radio {
        margin-top: -12px;
        margin-right: 20px;

        @include max-screen($breakpoint-mobile) {
            margin: 0 30px 20px 0;
        }
    }

    .v-input--checkbox {
        margin-top: -4px;

        .v-messages {
            min-height: 0;
        }

        .v-input--selection-controls__input {
            margin-right: 5px;
        }
    }

    .select-year {
        flex: 0 0 40%;
        margin-right: 10px;
    }

    .select-month {
        flex: 0 0 25%;
        margin-right: 10px;
    }

    .select-day {
        flex: 0 0 25%;
    }

    .v-text-field.v-text-field--enclosed:not(.v-text-field--rounded) > .v-input__control > .v-input__slot {
        @include max-screen($breakpoint-mobile) {
            padding: 0 1px 0 8px;
        }
    }

    .zip1, .zip2 {
        width: 120px;
        margin: 0 20px 0 -10px;

        @include max-screen($breakpoint-mobile) {
            margin-right: 10px;
            width: 80px;
        }
    }

    .zip1 {
        margin-right: -22px;

        @include max-screen($breakpoint-mobile) {
            float: none;
        }
    }

    &_link {
        line-height: 40px;
        font-size: 1.3rem;
        text-decoration: underline !important;
    }

    .prefectures {
        width: 300px;
    }

    .address1, .address2 {
        width: 100%;
    }

    .prefectures, .address1 {
        .v-text-field__details, .v-messages {
            min-height: 0;
        }
    }

    &.select-2column {
        .formItem_body {
            margin-bottom: 10px;

            & > span:not(.radio) {
                display: flex;
                flex-wrap: wrap;

                .v-input {
                    width: 48%;
                    margin-right: 1%;

                    @include max-screen($breakpoint-mobile) {
                        width: 100%;
                        margin: 0 0 2px 0;
                        padding: 10px;
                        background: $color-bg;
                        border-radius: $radius-box;
                    }
                }
            }
            
            .v-input--checkbox.v-input--is-label-active {
                @include max-screen($breakpoint-mobile) {
                    background: $color-bg-blue !important;
                }
            }

            .v-input--radio-group__input {
                margin-top: -12px;
                display: flex;
                flex-wrap: wrap;

                @include max-screen($breakpoint-mobile) {
                    margin-top: 0;
                }

                .v-radio {
                    width: 48%;
                    margin: 0 1% 5px 0;

                    @include max-screen($breakpoint-mobile) {
                        width: 100%;
                        margin: 0 0 2px 0;
                        padding: 10px;
                        background: $color-bg;
                        border-radius: $radius-box;
                        transition: all .3s;

                        &.v-item--active {
                            background: $color-bg-blue;
                        }
                    }
                }
            }
        }
    }

    &.select-singleLine {
        .formItem_body {
            margin-bottom: 10px;

            .v-input--radio-group__input {
                margin-top: -12px;
                flex-direction: column;

                @include max-screen($breakpoint-mobile) {
                    margin-top: 0;
                }

                .v-radio {
                    margin: 0 0 5px;

                    @include max-screen($breakpoint-mobile) {
                        width: 100%;
                        margin: 0 0 2px 0;
                        padding: 10px;
                        background: $color-bg;
                        border-radius: $radius-box;
                        transition: all .3s;

                        &.v-item--active {
                            background: $color-bg-blue;
                        }
                    }
                }
            }
        }
    }

    textarea {
        margin: 2px 0 !important;
        padding: 5px 0;
        min-height: 160px;
        font-size: 1.5rem;
        line-height: 1.5;
    }

    .fileUpload {
        text-align: left;
        .v-text-field__details, .v-messages {
            min-height: 0;
        }

        &_img {
            margin: 0 5px 30px 34px;
            max-height: 200px;

            img {
                width: auto;
                height: auto;
                max-width: 100%;
                max-height: 200px;
            }

            + .fileUpload_text {
                margin-top: -10px;
            }
        }

        &_text {
            margin: 0 0 25px 34px;
            padding: 8px;
            background: $color-bg;
            font-size: 1.2rem;
            line-height: 1.6;
        }
    }

    .v-input.v-input--is-readonly .v-input__control {
        fieldset {
            border: none;
        }

        input::placeholder {
            color: transparent;
        }

        .v-text-field__details {
            display: none;
        }

        input:-internal-autofill-selected {
            background-color: transparent !important;
        }
    }
}

.formConfirm {
    width: 600px;
    max-width: 100%;
    margin: auto;
    text-align: left;

    &_title {
        margin-bottom: 5px;
        padding: 15px;
        background: $color-bg-blue;
        color: $color-theme-center;
        font-size: 1.5rem;
        font-weight: normal;
    }

    &_item {
        display: flex;
        padding: 10px 20px;
        border-bottom: $border-default;
        font-size: 1.4rem;
        line-height: 1.4;
        position: relative;

        @include max-screen($breakpoint-mobile) {
            display: block;
            padding: 15px 20px;
        }

        &_title {
            flex: 0 0 170px;
            color: $color-text-darkgray;

            @include max-screen($breakpoint-mobile) {
                font-size: 1.2rem;
            }
        }

        &_body {
            color: $color-text-sub;
            font-weight: 500;

            @include max-screen($breakpoint-mobile) {
                margin-top: 10px;
                font-size: 1.6rem;
            }
        }
    }

    &_alert {
        position: absolute;
        right: 0;
        font-size: 1.1rem;
        color: $color-error;

        @include max-screen($breakpoint-mobile) {
            top: 12px;
            right: 5px;
        }
    }

    &_bottom {
        text-align: center;
        padding: 30px;

        .button-secondary {
            width: 200px;
            height: 36px;
            line-height: 36px;
        }
    }
}

.userInfo .formEntryBox {
    margin-top: 40px;
    padding: 60px 10px 140px;
    background: $color-bg-blue;

    &_title {
        margin-bottom: 15px;
        font-size: 1.8rem;
        font-weight: normal;
        color: $color-theme-center;
    }

    &_text {
        margin-bottom: 60px;
        font-size: 1.5rem;
        color: $color-theme-center;
        line-height: 1.5;

        @include max-screen($breakpoint-mobile) {
            margin-bottom: 20px;
        }
    }

    .v-input {
        width: 300px;
        margin: 0 auto;

        .v-messages {
            min-height: 0;
        }
    }

    &_concent {
        width: 600px;
        max-height: 200px;
        overflow: auto;
        margin: 20px auto;
        border: $border-default;
        padding: 20px;
        background: #fff;
        font-size: 1.2rem;
        line-height: 1.8;
        text-align: left;
    }
}

.mailSettings {
    @extend %section-gray;
    padding: 60px 0;

    &_box {
        width: 600px;
        max-width: 90%;
        margin: auto;
        padding: 40px 50px 60px;
        background: #fff;
        border: $border-default;
        border-radius: $radius-box;

        @include max-screen($breakpoint-mobile) {
            padding: 30px;
        }
    }

    &_title {
        margin-bottom: 40px;
        font-size: 2.2rem;
        font-weight: normal;
    }

    &_item {
        margin: 0 0 -1px;
        padding: 10px 3%;
        border-top: $border-light;
        border-bottom: $border-light;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &_title {
            flex: 1 1 auto;
            font-size: 1.5rem;
            text-align: left;
        }

        &_body {
            flex: 0 0 40px;
        }
    }

    .v-input {
        margin-top: 0;
    }

    .v-messages {
        min-height: 0;
    }
}

.userInfo .accountInfo {
    padding: 80px 0 40px;

    &_title {
        margin-bottom: 40px;
        font-size: 2.4rem;
        font-weight: normal;
    }

    &_item {
        width: 600px;
        max-width: 100%;
        margin: 0 auto -1px;
        padding: 20px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: $border-default;
        border-bottom: $border-default;

        @include max-screen($breakpoint-mobile) {
            display: block;
            padding: 20px;
        }

        &_title {
            flex: 0 0 110px;
            color: $color-text-darkgray;
            font-weight: 500;
            font-size: 1.4rem;

            @include max-screen($breakpoint-mobile) {
                text-align: left;
                margin-bottom: 10px;
            }
        }

        &_body {
            flex: 1 1 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: 6%;
            color: $color-text-default;
            font-size: 1.6rem;
            font-weight: bold;

            @include max-screen($breakpoint-mobile) {
                text-align: left;
                margin: 0;
            }
    
            .button-secondary {
                width: 20%;
                height: 32px;
                font-size: 1.3rem;
            }
        }
    }
}

.modalForm {
    margin: 0 5%;

    @include max-screen($breakpoint-mobile) {
        margin: 0;
    }

    .currentData {
        padding: 20px 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: $color-theme-center;

        @include max-screen($breakpoint-mobile) {
            display: block;
            text-align: left;
        }

        &_title {
            margin-right: 10px;
            font-size: 1.3rem;

            @include max-screen($breakpoint-mobile) {
                margin-bottom: 5px;
            }
        }

        &_body {
            font-size: 1.8rem;
            // color: $color-text-default;
        }
    }

    .formItem {
        flex-direction: column;
        border: none;

        @include max-screen($breakpoint-mobile) {
            padding: 5px 0;
        }

        &_body {
            width: 100%;
        }

        .formItem_body {
            margin-top: 5px;
        }

        + .formItem {
            .formItem_title {
                padding-top: 0;
            }

        }
    }

    &_complete {
        margin-bottom: 60px;
        
        .v-icon {
            margin-bottom: 10px;
            font-size: 4rem;
            color: $color-sub;
        }

        &_text {
            font-size: 1.5rem;
        }
    }
}

.modal-bid .userInfoComplete {
    padding: 10px 0;

    &_text {
        margin-bottom: 30px;
        font-size: 1.6rem;
        line-height: 1.8;
    }

    &_subText {
        color: $color-text-lightgray;
        font-size: 1.3rem;
    }
}
