@charset "UTF-8";
@import "../utils/variables.scss";
@import "../utils/functions.scss";

/* user info */
#page_wallet {
    .pageHeader {
        &_img {
            background: url("~@/assets/img/bg-mypage-title.jpg") no-repeat center center;
            background-size: cover;
            backdrop-filter: none;
        }
        .content {
            height: 180px;
        }
    }
}
